@using Moveis.ViewModel.Admin
@model AdminViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
  
    <meta name="viewport" content="width=device-width" />

    <title>Index</title>
</head>
<body>
    <h1>Registration Admin</h1>
    <form method="post">
        <div>
            <label>
                <input asp-for ="Name" placeholder="Enter your Name " />
            </label>
        </div>
        <div>
            <label>
                <input asp-for="Login" type="password" placeholder="Enter your Login " />
            </label>
        </div>
        <div>
            <label>
                <input asp-for="Password" type="password" placeholder="Enter your Password  " />
                <i class="far fa-eye" id="togglePassword"></i>
            </label>
        </div>
        <button type="submit" >Save</button>
    </form>
    <script>




    </script>
</body>
</html>
