@using Moveis.ViewModel.Admin
@model AdminViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>

    <link rel="stylesheet" href="/css/AdminReg.css" />
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    <div class="registration form ">
      <header>Signup</header>
      <form action="#">
        <input type="text" placeholder="Enter your email">
        <input type="password" placeholder="Create a password">
        <input type="password" placeholder="Confirm your password">
        <input type="button" class="button" value="Signup">
      </form>
      <div class="signup">
        <span class="signup">Already have an account?
         <label for="check">Login</label>
        </span>
    </div>
</body>
</html>
