@using Moveis.Enum
@{
    Layout = null;
}

<!DOCTYPE html>
<!---Coding By CodingLab | www.codinglabweb.com--->
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!--<title>Registration Form in HTML CSS</title>-->
    <!---Custom CSS File--->
    <link rel="stylesheet" href="/css/Registration/Registration.css" />
</head>
<body>
    <section class="container">
        <header>Film Registration Form</header>

        <form method="post" class="form">
            <div class="input-box">
                <label>Film Name</label>
                <input type="text" placeholder="Enter full name" required />
            </div>

            <div class="input-box">
                <label>Director Name</label>
                <input type="text" placeholder="Enter Director Name" required />
            </div>

            <div class="column">
                <div class="input-box">
                    <label>Phone Number</label>
                    <input type="number" placeholder="Enter phone number" required />
             </div>


               <div class="input-box">
                    <label>Create Date</label>
                    <input type="date" placeholder="Enter Create date" required />
               </div>

            </div>
            <div class="gender-box">
                <h3>Genre</h3>
                <div class="gender-option">
                   <label for="cars">Choose a Genre</label>
                    <select>
                        @foreach (var genre in Enum.GetValues(typeof(GenreEnum)))
                        {
                         <option>@genre</option>   
                        }
                    </select>
                  
                </div>
            </div>
          
            <button>Submit</button>
        </form>
    </section>
</body>
</html>