@using Moveis.ViewModel.Film
@model FilmAddEditDropDown 
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FilmFilter</title>
</head>
<body>
    <form>
        <div>
            <label>
                <input  asp-for = "Name" placeholder="Enter your Film's Name '"/>
            </label>
        </div>
</form>
</body>
</html>
